#title {
  background-color: #ff4c68;
  padding: 3% 15%;
}
h1 {
  color: white;
  font-size: 6rem;
  line-height: 1;
}
.container-fluid{

}
body {
  font-family:"montserrat";
  font-size: 2.5rem;
}
.navbar-brand{
  font-family: "ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.navbar{
padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 20px;
}
.nav-link{

  font-size: 1.2rem;
}
.download-button{
margin:5% 3% 5% 0;
}
/* title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);

}
#features{
  padding: 7% 15%;
  background-color: lightblue;
}
.feature-box{
  text-align: center;
}
h3 {
  font-family: "montserrat-bold";
}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}
.m{
  font-size: 3rem;
}
#pricing {
  text-align: center;
  background: lightblue;
  padding: 7% 15%;
}
#press{
  text-align: center;
  background-color: lightyellow;
  padding: 7% 15%;
}
#cta{
  text-align: center;
  background-color: lightgreen;
  padding: 7% 15%;
}
.manu{
  margin-bottom: 50px;
}
